{% extends 'base.html.twig' %}

{% block title %}Edit Tradesman{% endblock %}

{% block body %}
<div class="container">
    <h1>Edit Tradesman</h1>

    {{ include('tradesman/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_tradesman_index') }}" class="btn btn-primary">back to list</a>

    {{ include('tradesman/_delete_form.html.twig') }}
</div>
{% endblock %}
