{% extends 'base.html.twig' %}

{% block title %}New Tradesman{% endblock %}

{% block body %}
    <h1>Create new Tradesman</h1>

    {{ include('tradesman/_form.html.twig') }}

    <a href="{{ path('app_tradesman_index') }}">back to list</a>
{% endblock %}
